@charset "UTF-8";
/* CSS Document */
/* CLIENTES RELATORIO */

#conteudo{width:940px; height:auto; background-color:#dee6e2; margin-top:-5px;}
#esq {float:left; width: 270px; height:700px; background-color:#91aa9d; }
#dir {float:right; width: 670px; height:700px; margin-right:0px; background-color:#dee6e2;}

#esqB {float:left; width: 270px; height:690px; background-color:#91aa9d; }
#dirB {float:right; width: 670px; height:690px; margin-right:0px; background-color:#dee6e2; }

#esq2 {float:left; width: 270px; height:250px; background-color:#91aa9d; }
#dir2 {float:right; width: 670px; height:250px; background-color:#dee6e2; margin-right:0px;}


.col01 { width: 270px; height:685px; float: left; margin-right: 15px; background-color:#91aa9d;  }
.col02 { width: 670px; height:670px; float: left; margin-right: 0; }
.col03 { width: 270px; height:360px; float: left; padding-right:15px; text-align:right; border:rgb(255,0,0) 1px solid; }
.col03B { width: 270px; height:360px; float: left; padding-right:15px; text-align:right;  }

/* BOX FOTOS */
.col04 { padding-top:13px; width: 270px; height:325px; float: left;  border:rgb(255,0,0) 1px solid;}
#col04C { padding-top:13px; width: 310px; height:270px; float: left; text-align:center;  border:rgb(255,0,0) 1px solid; background-color:rgb(0,204,204);}
.col05 { width: 270px; height:80px; float: left; margin-bottom:15px; padding-left:5px; border:rgb(255,0,0) 1px solid; }
.coluna6 { width: 80px; height:80px; float: left; margin-right:5px; margin-bottom:20px; border: rgb(160,180,173) solid 1px; }
.coluna6:last-child { margin-right: 0; }

/* Acompanhamentos */
.col2BB{ width: 650px; height:290px; float: left; margin:0px 0px 10px 12px; background-color:rgb(255,255,0);}
.col2CC{ width: 770px; height:290px; float: left; margin:0px 0px 10px 0px; border: rgb(255,204,0) solid 1px; }

/* Box das metas fisico */
.col09{ width: 490px; float: left; margin:0px 20px 10px 0px; height:230px; }
/* Box GRAFICO */
.col10{ width: 255px; height:280px; float: right; margin:5px 0px 10px 0px; }
.col10B{ width: 250px; float: right;	 height:250px; }
.col10C{ width: 250px; height:20px; float: right; margin:2px 0px 0px 0px; text-align:right; padding:3px 3px 0px 0px;}
.col10C2{ width: 250px; float: right; margin:-6px 0px 0px 0px; height:20px; text-align:right; padding:3px 6px 0px 0px;}
.legenda{ font-weight:300;  font-size:1em; color:rgb(51,51,51);}
.legenda2{ font-weight:400;  font-size:1em; color: rgb(255,255,255);}

.col11{ width: 495px; float: left;  height:65px; padding-top:5px; padding-left:5px; margin-bottom:10px; }
.col12 { width: 150px; float:left; height:60px; margin-right: 12px; margin-bottom:5px; }
.col12:last-child { margin-right: 0; }
.col13{ width: 500px; float: left; height:30px; background-color:#cddfd5; padding-left:5px; padding-top:2px; }
.col14{ width: 770px; float: left; height:30px; background-color:#cddfd5; padding-left:5px; padding-top:2px;}
.col14B{ width: 780px; float: left; margin:5px 0px 0px 0px; height:30px; background-color:#cddfd5; padding-left:10px; padding-top:2px; }
.col15 { width: 230px; float: left; height:50px; margin-right: 15px;  margin-top:5px; padding-left:5px; }
.col15B { width: 300px; float: left; height:50px; margin-top:3px; }
.col16 { width: 365px; float: left; height:50px; margin-right: 15px; margin-top:5px; padding-left:5px;}
.col16B { width: 365px; float: left; height:50px; margin-top:5px;}


.col07{ width: 500px; float: left;  height:30px; }
.col07CC{ width: 400px; float: left;  height:30px; }
.col07DD{ width: 360px; float: left; height:30px; margin-left:410px;}



.col07B{ width: 650px; float: left; margin:10px 0px 0px 12px; height:35px; background-color:#91aa9d; }
.col07BB{ width: 500px; float: left; margin:5px 0px 10px 0px; height:25px; }
.col08{ width: 500px; height:205px; float: left; margin:10px 0px 10px 0px; }
.col08B{ width: 770px; height:180px; float: left; margin:10px 0px 10px 0px; }
.col08C{ width: 780px; height:120px; float: left; margin:0px 0px 10px 0px; border: rgb(255,0,0) solid 1px; }

#analise{ width: 770px; height:140px; float: left; margin:0px 10px 10px 10px; padding:5px 20px 15px 10px; font-size:1.1em; line-height:1.7em; }

.subtitle2 { font-weight:400;  font-size:1.6em; color: rgb(255,255,255); margin-top:12px; margin-left:10px; letter-spacing:0.03em;}
.subtitle2 a{ text-decoration:none; color: rgb(255,255,255);}

.title { font-weight:600;  font-size:5em; color: #FFF; text-align:right; margin-top:20px; line-height:1.1em;}
.subtitleB { font-weight:400;  font-size:1.8em; color: #dee6e2; text-align:right;  margin-right:5px; margin-top:10px;}
.subtitleB2 { font-weight:400;  font-size:1.8em; color: rgb(255,255,255); text-align:right;  margin-right:5px; margin-top:10px;}
.subtitleC { font-weight:400;  font-size:2.2em; color: #FFF; text-align:right;  margin-right:5px;}

.subtitleDB { font-weight:600;  font-size:2.7em; color: #FFF; text-align:left; margin-left:15px; }
.subtitleDB a { font-weight:600;  font-size:1em; color: #FFF; text-align:left;  text-decoration:none; }

/* .subtitleD {font-weight:600;  font-size:2.7em; color: #669279; text-align:left;  } */
.subtitleE { font-weight:500;  font-family: 'Roboto', sans-serif; font-size:1.4em; color: #4b7e41; text-align:left; margin-left:5px; margin-top:3px; letter-spacing:0.02em;}
.subtitleE a{ font-weight:500;  font-family: 'Roboto', sans-serif; color: rgb(65,143,171); text-align:left; margin-left:5px; margin-top:3px; letter-spacing:0.02em; text-decoration:none;}

.subtitleF { font-size:1.2em; font-weight:400; color: rgb(54,134,36); text-align:left; margin-right:5px;}
.subtitleG { font-weight:400;  font-size:1.4em; color: #333; text-align:left; margin-top:10px; margin-right:5px; }
.subtitleGB { font-size:0.8em; color: #333; text-align:left;  margin-right:5px;}
/* .subtitleGBR { font-size:0.8em; color: rgb(255,102,0); text-align:left;  margin-right:5px;} */

.obra { font-weight:500;  font-family: 'Roboto', sans-serif; font-size:1.32em; color: rgb(255,255,255); text-align:left; margin-top:8px; letter-spacing:0.02em;}
.obra a{  font-weight:500;  font-family: 'Roboto', sans-serif; font-size:1.32em; color: rgb(255,255,255); text-align:left; margin-top:8px; letter-spacing:0.02em; text-decoration:none;}

.amsg { font-weight:500;  font-family: 'Roboto', sans-serif; font-size:1em; color: rgb(79,132,170); text-align:left; margin-top:8px; letter-spacing:0.02em;}
.amsg a{  font-weight:500;  font-family: 'Roboto', sans-serif; font-size:1em; color: rgb(79,132,170); text-align:left; margin-top:8px; letter-spacing:0.02em; text-decoration:none;}

.subtitle { font-weight:400; font-size:1.5em; color: #dee6e2; }
.subtitle a{ color: #dee6e2; text-decoration:none;} */
/* --------------------------------------------------------------- */

/* PESQUISAR na home */
.upload { width:225px; position: relative; margin-left:35px; }

.uploadTerm { float: left; width: 255px; border: 1px solid rgb(153,153,153); margin-left:15px;
  padding: 5px; height: 25px;
  border-radius: 5px; outline: none; color: rgb(183,183,183);
}
.uploadTerm:focus{ color: #16aabe; }
.uploadButton { position: relative; right: 5px; width: 25px; height: 25px; border: 1px solid rgb(153,153,153);
  background: #b5b8b3; text-align: center; color: #fff; border-radius: 5px; cursor: pointer; font-size: 2em; background-image: url("../images/estrutura/15xvbd52.png"), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5); background-position:center; background-repeat: no-repeat; }
/* Para seletor de arquivo */
.upload input[type=file]{ display: none }
/* Aparência que terá o seletor de arquivo */
.upload:label { border-radius: 5px; color: #fff; cursor: pointer; margin:5px; padding: 6px 10px; text-align:left; }



